# --- Python ---
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
.env

# --- Banco de Dados e Dumps ---
# Se você quer subir o dump principal, não ignore tudo. 
# Mas ignore dumps temporários ou arquivos de log do MySQL
*.log
*.bak
*.tmp
# Se quiser ignorar todos os .sql, descomente a linha abaixo:
*.sql
*.yml

# --- IDEs e Editores ---
.vscode/
.idea/
.DS_Store

# --- Pastas de Build e Dependências ---
node_modules/
dist/
build/

