
       
        /* CONTEÚDO */
        .content {
            flex: 1;
            padding: 30px;
        }

        /* HEADER */
        .header {
            background: white;
            padding: 15px 20px;
            border-radius: 12px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /* INPUT */
        .search {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;
        }

        .search input {
            flex: 1;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #cbd5e1;
            outline: none;
        }

        .search button {
            padding: 10px 15px;
            border: 0;
            border-radius: 8px;
            background: #2563eb;
            color: white;
            cursor: pointer;
        }

        /* CARD */
        .card {
            background: white;
            padding: 20px;
            border-radius: 12px;
            margin-bottom: 15px;
            box-shadow: 0 2px 6px rgba(0,0,0,0.05);
        }

        .card button {
            margin-top: 10px;
            padding: 10px;
            border: 0;
            border-radius: 8px;
            background: #2563eb;
            color: white;
            cursor: pointer;
        }
